<f:layout name="1Col" />

<f:section name="Title">Hotel Blog</f:section>
<f:section name ="Navbar">
    <f:render partial="navBar" arguments="{_all}"/>
</f:section>
<f:section name="Header">
    <f:render partial="header" arguments="{_all}" />
</f:section>
<f:section name="Main">
    <div class="container my-5">
        <div class="row">
            <f:comment>Below there is a loop for displaying the hotels</f:comment>
            <f:for each="{hotels}" as="hotel">
                <f:render partial="BusinessEntity" arguments="{hotel: hotel}" />
            </f:for>
        </div>
    </div>
</f:section>

<f:section name="Footer">
    <f:render partial="footer" arguments="{_all}" />
</f:section>
