<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotel-Blog</title>
  <link rel="stylesheet" type="text/css" href="../../vendor/twbs/bootstrap/dist/css/bootstrap.css">
  <script defer src="../../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hotel Explorer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<f:render partial="header" arguments="{_all}"/>

<!-- Main Content -->
<div class="container my-5">
  <div class="row">
    <f:for each="{hotels}" as="hotel">
      <!-- Hotel Card -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/src/images/{hotel.imgPath}" class="card-img-top" alt="{hotel.name}">
          <div class="card-body">
            <h5 class="card-title">{hotel.name}</h5>
            <p class="card-text">{hotel.description}</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </f:for>
  </div>
</div>


<f:render partial="footer" arguments="{_all}"/>

</body>
</html>
